/* reset css */
* {
    padding: 0;
    margin: 0;;
}
/* font */
@font-face {
    font-family: rubik;
    src: url('../font/Rubik-Regular.ttf');
}

@font-face {
    font-family: rubik-medium;
    src: url('../font/Rubik-Medium.ttf');
}
html, body {
    font-family: rubik !important; 
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */   
}

h1,h2,h3,h4,h5,h6 {
    font-family: rubik-medium !important;
    color: #808080;
}

.base-color {
    color: #16D391;
}

.rounded-big {
    border-radius: 24px;
}
.border-default {
    border: 2px solid #fff;
}
.img-thumbnail {
    border: 0;
}
.base-text{
    font-size: 24px;
}
a{
    text-decoration: none !important;
}
a:hover {
    text-decoration: none !important;
}
.header-text {
    font-size: 36px;
    font-family: rubik-medium;
}

.swal2-container.swal2-center.swal2-backdrop-show{
    z-index: 999999;
}

.z-index{
    z-index: 99999;
}
.overlay {
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0.7;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
}
.hidden {
    display: none;
}

.modal.hidden{
    display: none !important;
}
.qr-border.hidden{
    display: none !important;
}
.modal {
    display: block !important;
    z-index: 999999 !important;
    position: absolute !important;
    width: 510px !important;
    height: 240px !important;
    background: #fff;
    border-radius: 10px;
    top: 15% !important;
    left: 26% !important;
    color: #000;
    overflow: hidden !important;
}

.modal-title {
    font-size: 23px;
}
.modal-body {
    text-align: left;
}
.txt-pin{
    width: 100%;
    border: 1px solid #707070;
    height: 40px;
    border-radius: 10px;
   
}


.modal-number-section #btn-number {
    width: 70px;
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid #707070;
    border-radius: 10px;
    margin: 0.5rem;
    color: #16D391;
    font-size: 33px;
    background-color: #F3F3F3;
}

.modal-number-section {
    width: 260px !important;
    margin: 0 auto;
}


.modal-number-section > div:nth-child(11) {
    background-color: #FF0D0D;
    color: #fff;
    font-size: 23px;
    border: 0;
    width: 60%;
}
.pointer{
    pointer-events: none;
}
.opacity {
    opacity: 0.1;
}
.btn-success {
    background-color: #16D391 !important;
} 
.btn-default {
    border: 1px solid #ccc !important;
    background-color: #fff !important;
}

.wrapper .tab-title {
    width: 20%;
}

.height,.height.btn-success {
    height: 150px !important;
}


input[type="text"] {
    outline: 0;
    border: 0;
    height: 95%;
    text-transform: uppercase;
}

input[type="checkbox"]{
    transform: scale(2);
}

.row .support-footer {
    width: 90%;
    z-index: 9999;
    bottom: 0;
    
}
th span{
    /*margin-left: 1rem;*/
    font-weight: bold;
}
.support-footer button {
    border: 0;
    border-radius: 10px 10px 0 0;
    width: 20%;
    height: 55px !important;
    font-size: 29px;
}

.table{
    text-align: left;
    width: 90% !important;
}

.table > tbody {
    vertical-align: middle !important;
}

.tss-qbo1l6-MUIDataTableToolbar-actions button:nth-child(2),
.tss-qbo1l6-MUIDataTableToolbar-actions span{
    display: none;
}

.css-11mde6h-MuiPaper-root {
    border-radius: 0 !important;
    box-shadow: none !important;
}
.tss-1akey0g-MUIDataTableHeadCell-data{
    font-weight: bold;
}
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root{
    display: none !important;
}
.MuiToolbar-root p {
    margin-bottom: 0;
}
.tab-title {
    cursor: pointer;
}
.tab-wrapper {
    position: relative;
}
div#select-all-wrapper {
    position: absolute;
    top: 13.5rem;
    z-index: 99999;
    left: 4.7rem;
}
#select-all {
    margin-right: 1rem;
}
#select-all-wrapper span {
    font-weight: bold;
}
.slick-slide div:nth-child(1) {
    margin-top: 0.5rem;
}
/* */